/* Generic pane rules */
body { margin: 0 }
.pane-row, .pane-col { overflow: hidden; position: absolute; }
.pane-row { left: 0; right: 0; }
.pane-col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

/* Bootstrap overrides */
a:hover,
a:active {
  text-decoration: none;
}

.navbar-toggle { 
  border: none; 
  margin: 0; 
  float: left; 
  z-index: 100; 
  border-radius: 0; 
}
.navbar-toggle .icon-bar { 
  background-color: #999; 
}
.navbar-toggle.outtaway { 
  background-color: #333; 
}

/* Custom styles */
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
}

.menu { 
  width: 270px; 
  background-color: #333;
  color: #eee; 
  z-index: -1; 
  border-right: 1px solid #2c2c2c; 
}

.menu .panel {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 10px;
}

.menu .panel-heading {
  background-color: #333;
  color: #fff;
  text-indent: 26px;
  background-repeat: no-repeat;
  background-position: 8px 8px;
}

.menu a > .panel-heading:hover {
  background-color: #555;
}

.menu .panel-heading.search {
  background-image: url(../images/search-icon.png);
}

.menu .panel-heading.playlists {
  background-image: url(../images/playlists-icon.png);
}

.menu .panel-heading.radio {
  background-image: url(../images/radio-icon.png);
}

.menu .panel-heading.settings {
  background-image: url(../images/settings-icon.png);
}

.menu .panel-body {
  background-color: #444;
  color: #fff;
}

.menu .list-group {
  background-color: #444;
  font-size: 90%;
  border: none;
}

.menu .list-group-item {
  color: #ccc;
  background-color: transparent;
  border: none;
}

.menu .list-group-item:hover {
  background-color: #555;
}

.menu .glyphicon {
  color: #fff;
}

.main { 
  left: 0; 
  right: auto;
  width: 100%; 
  background-color: #fff;   
  -webkit-transition: all 0.2s ease-out;  
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.main .container {
  margin-left: 0;
  margin-right: auto;
}

.title-bar { 
  background-color: #eee; 
  color: #666; 
  line-height: 32px; 
  text-indent: 10px;
}

.main.outtaway { 
  left: 270px; 
}

.maincontent { 
  top: 32px; 
  bottom: 118px; 
  padding: 0 10px; 
}

.nowplaying { 
  height: 68px; 
  bottom: 50px; 
  background-color: #eee; 
}

.nowplaying-thumb {
  float: left;
  height: 64px;
  width: 64px;
  margin: 2px 10px 2px 0px;
}

.nowplaying h4 {
  font-size: 110%;
  margin: 8px 0;
}

.nowplaying .time {
  margin: 7px 0 6px;
}

.nowplaying .time-slider,
.nowplaying .slider-horizontal  {
  width: 100%;
}

.controls { 
  height: 50px; 
  bottom: 0; 
  background-color: #933; 
}

.controls ul {
  margin: 10px 3px;
}

.controls a {
  display: inline-block;
}

.controls a:hover,
.controls a:active {
  color: #cef;
}

.controls .glyphicon {
  color: #fff;
  font-size: 20px;
}

.controls .slider {
  width: 100px;
}

.controls .slider.slider-horizontal .slider-track {
  top: 30%;
}

.controls .slider-selection {
  background: #6ce;
}



@media screen and (min-width: 768px) {
  .main { left: 270px; right: 0; width: auto;  }
}