include LICENSE
include MANIFEST.in
include README.rst

recursive-include mopidy_moped ext.conf
recursive-include mopidy_moped/static *

exclude README.md

recursive-exclude angular *
recursive-exclude dist *
recursive-exclude durandal *
recursive-exclude html *
recursive-exclude screenshots *
