<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body>
    <div id="applicationHost">

    </div>
    <script src="/javascripts/vendor/mopidy/mopidy.js"></script>        
    <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/app/main.js"></script>
  </body>
</html>
