<div class="panel">
  <div class="panel-heading spotify">Spotify</div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
    Playlists
  </div>
  <div class="list-group">
      <a href="#" class="list-group-item"><span class="glyphicon glyphicon-music"></span> Cras justo odio</a>
      <a href="#" class="list-group-item"><span class="glyphicon glyphicon-music"></span> Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item"><span class="glyphicon glyphicon-music"></span> Morbi leo risus</a>
      <a href="#" class="list-group-item"><span class="glyphicon glyphicon-music"></span> Porta ac consectetur ac</a>
      <a href="#" class="list-group-item"><span class="glyphicon glyphicon-music"></span> Vestibulum at eros</a>
    </div>
</div>
