<h3>Radio</h3>
<form role="form">
  <div class="row">
    <div class="form-group col-sm-3">
      <label for="streamName">Radio station name</label>
      <input type="text" class="form-control" id="streamName" data-bind="value: currentStreamName">
    </div>
    <div class="form-group col-sm-5">
      <label for="streamUri">Radio stream address</label>
      <input type="text" class="form-control" id="streamUri" data-bind="value: currentStreamUri">
    </div>
    <div class="form-group col-sm-4">
      <label>&nbsp;</label>
      <br>
      <button class="btn btn-primary" data-bind="click: play">Play</button>
      <button class="btn btn-default" data-bind="click: addToFavourites, visible: canAddToFavourites">
        <span class="glyphicon glyphicon-star"></span> Star
      </button>
      <button class="btn btn-default" data-bind="click: removeFromFavourites, visible: canRemoveFromFavourites">
        <span class="glyphicon glyphicon-star-empty"></span> Unstar</button>
    </div>
  </div>
</form>
<p>
or
</p>
<form role="form">
  <label for="searchQuery">Find Radio streams (experimental)</label>
  <div class="form-group row">
    <div class="col-sm-4">
      <input type="text" class="form-control" id="searchQuery" data-bind="value: searchQuery">
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary" data-bind="click: findStream">Find</button>
    </div>
  </div>
</form>
<div class="list-group" data-bind="foreach: searchResults">
  <div class="list-group-item row">
    <h4 class="col-xs-6 list-group-item-heading" data-bind="text: name"></h4>
    <div class="col-xs-3" data-bind="text: country"></div>
    <div class="col-xs-3">
      <button class="btn btn-default" data-bind="click: $parent.playStream.bind($parent, name, streamurl)">Play</button>
    </div>
    <div class="col-xs-9 hidden-xs">
      <a href="#" data-bind="attr: { href: website }, text: website"></a> 
    </div>
    <div class="col-xs-3 hidden-xs" data-bind="text: bitrate"></div>
  </div>
</div>
<p>Search powered by http://dirble.com & http://whateverorigin.org</p>