<h2 data-bind="text: playlist.name"></h2>
<div class="list-group" data-bind="foreach: tracks">
  <a class="list-group-item row">
    <div class="col-xs-1" data-bind="text: $index()+1"></div>
    <h4 class="list-group-item-heading" data-bind="text: name"></h4>
    <div class="col-xs-1"></div>
    <div class="col-xs-4" data-bind="text: $parent.getArtistsAsString($data.artists)"></div>
    <div class="col-xs-5" data-bind="text: $data.album.name"></div>
    <div class="col-xs-2" data-bind="text: $parent.timeFromMilliSeconds($data.length)"></div>
  </a>
</div>