<ul class="list-inline">
  <li><a href="#" class="glyphicon glyphicon-fast-backward"></a></li>
  <li><a href="#" class="glyphicon glyphicon-play"></a></li>
  <li><a href="#" class="glyphicon glyphicon-fast-forward"></a></li>
  <li>
    <input type="text" class="slider" name="volume" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-selection="before" data-slider-tooltip="hide" data-slider-value="75">
  </li>
  <li>
    <span class="glyphicon glyphicon-volume-up" />
  </li>
</ul>